---
import type { Curriculum } from '../data/types';

interface Props {
  yearCodeName: string;
  curriculum: Curriculum;
  className?: string;
}

const { yearCodeName, curriculum, className } = Astro.props;

console.log(curriculum);
---

<section id={yearCodeName} class={`text-blue-dark ${className}`}>
  <div class="mx-auto max-w-[67.5rem] rounded-lg bg-blue-dark px-16 pb-14 pt-5 shadow-curriculum">
    <h2 class="year-codename-underline relative z-10 mx-auto w-fit text-4xl font-bold text-beige">
      {yearCodeName}
    </h2>
    <div class="mt-9 flex gap-5">
      <div class="w-full">
        <h4 class="text-center text-2xl font-bold text-beige">semester 1</h4>
        <div class="mt-4 flex min-h-[25.75rem] flex-col gap-3 rounded-lg bg-beige px-5 py-6">
          {
            curriculum.semester1.map((semesterClass) => (
              <a href={semesterClass.link} class="flex items-center gap-2 text-lg">
                <span>
                  <img src="/public/images/document-icon.svg" alt="text document icon" width="35" />
                </span>
                <span>{semesterClass.title}</span>
              </a>
            ))
          }
        </div>
      </div>
      <div class="w-full">
        <h4 class="text-center text-2xl font-bold text-beige">semester 2</h4>
        <div class="mt-4 flex min-h-[25.75rem] flex-col gap-3 rounded-lg bg-beige px-5 py-6">
          {
            curriculum.semester2.map((semesterClass) => (
              <a href={semesterClass.link} class="flex items-center gap-2 text-lg">
                <span>
                  <img src="/public/images/document-icon.svg" alt="text document icon" width="35" />
                </span>
                <span>{semesterClass.title}</span>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
