---
import firstYear from "../data/1CPI";
import thirdYear from "../data/1CS";
import secondYear from "../data/2CPI";
import fourthYear from "../data/2CS";
import fifthYear from "../data/3CS";
import BranchedCurriculumCard from "./BranchedCurriculumCard.astro";
import CurriculumCard from "./CurriculumCard.astro";
---

<section class="relative bg-blue-light">
  <div class="wrapper pb-72 pt-10">
    <CurriculumCard yearCodeName="1CP" className="mb-20" content={firstYear} />
    <img
      src="/images/fish-swarm-big.svg"
      alt="big swarm of fish"
      class="absolute right-0 top-[38rem] w-80 md:w-auto xl:w-[43rem]"
    />
    <CurriculumCard yearCodeName="2CP" className="mb-20" content={secondYear} />
    <img
      src="/images/fish-swarm-small.svg"
      alt="big swarm of fish"
      class="absolute right-1/4 top-[90rem] w-72 md:w-auto"
    />
    <CurriculumCard yearCodeName="1CS" className="mb-20" content={thirdYear} />
    <BranchedCurriculumCard yearCodeName="2CS" className="mb-20" content={fourthYear} />
    <BranchedCurriculumCard yearCodeName="3CS" content={fifthYear} />
  </div>
</section>
