---
import firstYear from "../data/1CPI";
import thirdYear from "../data/1CS";
import secondYear from "../data/2CPI";
import fourthYear from "../data/2CS";
import fifthYear from "../data/3CS";
import BranchedCurriculumCard from "./BranchedCurriculumCard.astro";
import CurriculumCard from "./CurriculumCard.astro";
import GlobeDecoration from "./GlobeDecoration.astro";
import WhaleDecoration from "./WhaleDecoration.astro";
---

<section class="relative bg-blue-light">
  <div class="wrapper py-10">
    <CurriculumCard yearCodeName="1CP" className="mb-20" content={firstYear} />
    <GlobeDecoration class="absolute right-20 top-20 hidden xl:block" />
    <img
      src="/images/fish-swarm-big.svg"
      alt="big swarm of fish"
      class="absolute right-0 top-[38rem] w-80 dark:hidden md:w-auto xl:w-[43rem]"
    />
    <img
      src="/images/fish-swarm-big-dark-mode.svg"
      alt="big swarm of fish"
      class="absolute right-0 top-[38rem] hidden w-80 dark:block md:w-auto xl:w-[43rem]"
    />
    <CurriculumCard yearCodeName="2CP" className="mb-20" content={secondYear} />
    <img
      src="/images/fish-swarm-small.svg"
      alt="big swarm of fish"
      class="absolute right-1/4 top-[90rem] w-72 dark:hidden md:w-auto"
    />
    <img
      src="/images/fish-swarm-small-dark-mode.svg"
      alt="big swarm of fish"
      class="absolute right-1/4 top-[90rem] hidden w-72 dark:block md:w-auto"
    />
    <CurriculumCard yearCodeName="1CS" className="mb-20" content={thirdYear} />
    <WhaleDecoration
      class="absolute left-0 top-[145rem] hidden w-96 sm:block md:w-[31.25rem] lg:w-auto"
    />
    <BranchedCurriculumCard yearCodeName="2CS" className="mb-20" content={fourthYear} />
    <BranchedCurriculumCard yearCodeName="3CS" content={fifthYear} />
  </div>
</section>
